@page "/"

<h1>Hope you enjoy SpeedyDelivery</h1>
Welcome to SpeedyDelivery.
<br>
>Let's explore delicious food near you!
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SpeedyDelivery</title>
    <meta charset="utf-8">
</head>
<body>
    <div>

        <p>
            <hr>
            <h2>
                <form style="font-size: 18px;">
                    <p><a type="submit" href="/customer">Let's get started!</a></p>
                </form>
            </h2>
            <hr>

            <h2>Promos!</h2>

            <ul type="square">
                <p>Chicken Rice</p>
                <img src=https://images.augustman.com/wp-content/uploads/sites/2/2022/06/02192142/loy-kee-chicken-rice-image-from-timeout-1.jpeg height="150">
                <br>
                <p>KFC</p>
                <img src="https://d1sag4ddilekf6.azureedge.net/compressed/merchants/4-CZACR3E3HAXXWA/list/3725957dea864068b0fb76bf9ba0ef9b_1653875674935291632.jpg" height="150">
                <br>
                <p>Ramen</p>
                <img src="https://www.angsarap.net/wp-content/uploads/2022/03/Tonkotsu-Ramen-Wide.jpg" height="150">
            </ul>

            <h2> Restaurant Promos!</h2>
        <p>Best Value and Great Deals!!</p>
        <form style="font-size: 18px;">
            <p><a type="submit" href="/restaurants">Go to Restaurants!</a></p>
        </form>
        <ul type="square">

            <img src="https://blog.logomyway.com/wp-content/uploads/2017/01/mcdonalds-logo-1.jpg" height="150">
            <br>
            <p>McDonald's'</p>
            <img src="https://1000logos.net/wp-content/uploads/2017/03/Kfc_logo.png" height="150">
            <br>
            <p>KFC</p>

        </ul>
        </p>
    </div>
    <footer>
        <SurveyPrompt Title="How is SpeedyDelivery working for you?" />
        <small><i>Copyright &copy; 2021 [Thaw]&[Chuan Yong]</i></small> <!-- Add your name -->

    </footer>
</body>
</html>